/* CSS Document */
body{ background-color:#E0FFFF;
      color:#555555
}
h1 { color:#FF0000;}
h2{ color:#603601;}
h3{ color:#000000;}
h4{ color:#CD853F;}
h5{ color:#696969;}
h6{ color:#D2691E;}
p{ color:#008B8B}